<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <!-- title web -->
    <title>Region</title>
  </head>
  <body>
    <!-- content -->
    <section class="container" layout:fragment="content">
      <div class="my-4 d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">List of Region</h1>
        <button
          type="button"
          class="btn btn-success btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#create"
        >
          Add Region
        </button>
      </div>

      <table
        id="tb-region"
        class="table table-bordered table-hover table-striped"
      >
        <thead class="table-dark">
          <tr>
            <th class="col-2 text-center">Id</th>
            <th class="col-4 text-center">Name</th>
            <th class="col-6 text-center">Action</th>
          </tr>
        </thead>
      </table>

      <!-- modal create -->
      <div
        class="modal fade"
        id="create"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="createLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="createLabel">
                Create of Region
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form>
              <div class="modal-body">
                <!-- name -->
                <div class="input-group flex-nowrap">
                  <span
                    class="input-group-text fw-bold bg-primary bg-opacity-50"
                    id="addon-wrapping"
                    >Name</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name of Region"
                    aria-label="name"
                    aria-describedby="addon-wrapping"
                    id="create-name"
                    required
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  id="create-region"
                  type="button"
                  class="btn btn-success btn-sm"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- modal detail -->
      <div
        class="modal fade"
        id="detail"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="detailLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="detailLabel">
                Detail of Region
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- id -->
              <div class="input-group flex-nowrap mt-2">
                <span
                  class="input-group-text fw-bold bg-primary bg-opacity-50"
                  id="addon-wrapping"
                  >Id</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="id"
                  aria-describedby="addon-wrapping"
                  id="detail-id"
                  disabled
                />
              </div>

              <!-- name -->
              <div class="input-group flex-nowrap mt-4 mb-2">
                <span
                  class="input-group-text fw-bold bg-primary bg-opacity-50"
                  id="addon-wrapping"
                  >Name</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="name"
                  aria-describedby="addon-wrapping"
                  id="detail-name"
                  disabled
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- modal update -->
      <div
        class="modal fade"
        id="update"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="updateLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="updateLabel">
                Update of Region
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form>
              <div class="modal-body">
                <!-- name -->
                <div class="input-group flex-nowrap">
                  <span
                    class="input-group-text fw-bold bg-primary bg-opacity-50"
                    id="addon-wrapping"
                    >Name</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name of Region"
                    aria-label="name"
                    aria-describedby="addon-wrapping"
                    id="update-name"
                    required
                  />
                </div>

                <input type="hidden" id="update-id" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  id="update-region"
                  type="button"
                  class="btn btn-success btn-sm"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div layout:fragment="js">
      <script th:src="@{/js/region.js}"></script>
    </div>
  </body>
</html>
