<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <!-- title web -->
    <title>Region</title>
  </head>
  <body>
    <!-- content -->
    <section class="container" layout:fragment="content">
      <div class="my-4 d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">List of Region</h1>
        <a href="/region/create" class="btn btn-success btn-sm fw-bold"
          >Add Region</a
        >
      </div>

      <table
        class="table table-bordered table-hover table-striped text-center mt-3"
      >
        <thead class="table-dark">
          <tr>
            <th class="col-2">No.</th>
            <th class="col-4">Name</th>
            <th class="col-6">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="region, key : ${regions}">
            <td th:text="${key.count}"></td>
            <td th:text="${region.name}"></td>
            <td class="d-flex justify-content-center gap-3">
              <a
                th:href="@{/region/{id} (id = ${region.id})}"
                class="btn btn-primary btn-sm"
                >Detail</a
              >
              <a
                th:href="@{/region/update/{id} (id = ${region.id})}"
                class="btn btn-warning btn-sm"
                >Update</a
              >
              <form
                th:action="@{/region/{id} (id = ${region.id})}"
                th:method="DELETE"
              >
                <button
                  class="btn btn-danger btn-sm"
                  type="submit"
                  onclick="return confirm('Are you sure to want delete it???')"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <div layout:fragment="js">
      <script th:src="@{/js/region.js}"></script>
    </div>
  </body>
</html>
