<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <!-- navbar -->
    <div th:fragment="navbar">
      <nav class="navbar navbar-expand-lg bg-dark-subtle">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand fw-bold" th:href="@{/}">
            <img
              th:src="@{/images/bulb.png}"
              width="30"
              height="35"
              alt="logo"
            />
            SIBKM</a
          >
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  th:href="@{/}"
                  th:classappend="${isActive} == 'home' ? 'active fw-bold' : ''"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{/region}"
                  th:classappend="${isActive} == 'region' ? 'active fw-bold' : ''"
                  sec:authorize="hasRole('ADMIN')"
                  >Region</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  th:href="@{/country}"
                  th:classappend="${isActive} == 'country' ? 'active fw-bold' : ''"
                  sec:authorize="hasAnyRole('ADMIN', 'USER')"
                  >Country</a
                >
              </li>
            </ul>
            <form class="d-flex" th:action="@{/logout}" th:method="POST">
              <button class="btn btn-outline-danger" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
