<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <!-- title web -->
    <title>Create Country</title>
  </head>
  <body>
    <!-- content -->
    <section class="container" layout:fragment="content">
      <div class="card mt-5">
        <h5 class="card-header fw-bold text-center bg-primary bg-opacity-50">
          Create of Country
        </h5>
        <div class="card-body">
          <form th:action="@{/country}" th:method="POST" th:object="${country}">
            <!-- code -->
            <div class="input-group flex-nowrap my-2">
              <span
                class="input-group-text fw-bold bg-primary bg-opacity-50"
                id="addon-wrapping"
                >Code</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Country Code"
                aria-label="code"
                aria-describedby="addon-wrapping"
                th:field="*{code}"
                required
              />
            </div>

            <!-- name -->
            <div class="input-group flex-nowrap my-4">
              <span
                class="input-group-text fw-bold bg-primary bg-opacity-50"
                id="addon-wrapping"
                >Name</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Country Name"
                aria-label="name"
                aria-describedby="addon-wrapping"
                th:field="*{name}"
                required
              />
            </div>

            <!-- region -->
            <div class="input-group flex-nowrap my-4">
              <span
                class="input-group-text fw-bold bg-primary bg-opacity-50"
                id="addon-wrapping"
                >Region</span
              >
              <select
                class="form-select"
                aria-label="Default select example"
                th:field="*{region.id}"
                required
              >
                <option value="" hidden>Choose your Region</option>
                <option
                  th:each="region : ${regions}"
                  th:value="${region.id}"
                  th:text="${region.name}"
                ></option>
              </select>
            </div>

            <div class="mt-4 d-flex gap-3">
              <button type="submit" class="btn btn-success fw-bold">
                Save
              </button>
              <a href="/country" class="btn btn-secondary fw-bold">Back</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
