<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <!-- title web -->
    <title>Counrty</title>
  </head>
  <body>
    <!-- content -->
    <section class="container" layout:fragment="content">
      <div class="my-4 d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">List of Counrty</h1>
        <!-- * without dto -->
        <!-- <a href="/country/create" class="btn btn-success btn-sm fw-bold"
          >Add Counrty</a
        > -->

        <!-- * with dto -->
        <a href="/country/create-dto" class="btn btn-success btn-sm fw-bold"
          >Add Counrty</a
        >
      </div>

      <table
        class="table table-bordered table-hover table-striped text-center mt-3"
      >
        <thead class="table-dark">
          <tr>
            <th class="col-1">No.</th>
            <th class="col-1">Code</th>
            <th class="col-3">Name</th>
            <th class="col-3">Region</th>
            <th class="col-4">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="country, key : ${countries}">
            <td th:text="${key.count}"></td>
            <td th:text="${country.code}"></td>
            <td th:text="${country.name}"></td>
            <td th:text="${country.region.name}"></td>
            <td class="d-flex justify-content-center gap-3">
              <!-- * without dto -->
              <!-- <a
                th:href="@{/country/{id} (id = ${country.id})}"
                class="btn btn-primary btn-sm"
                >Detail</a
              > -->

              <!-- * with dto -->
              <a
                th:href="@{/country/res/{id} (id = ${country.id})}"
                class="btn btn-primary btn-sm"
                >Detail</a
              >
              <a
                th:href="@{/country/update/{id} (id = ${country.id})}"
                class="btn btn-warning btn-sm"
                >Update</a
              >
              <form
                th:action="@{/country/{id} (id = ${country.id})}"
                th:method="DELETE"
              >
                <button
                  class="btn btn-danger btn-sm"
                  type="submit"
                  onclick="return confirm('Are you sure to want delete it???')"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
